@model  AdminServicios.DAL.CAT_RESIDENCIAL
@{
    ViewBag.Title = "Residencial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Editar == 1)
{
    <h2>Modificar registro residencial</h2>
}
else
{
    <h2>Agregar registro residencial</h2>
}
<input type="hidden" id="hiddenIdRec" value="@Model.ID_RESIDENCIAL" />
<div class="row">
    <div class="col-sm-6 col-sm-12">
        <div class="form-group">
            <label for="txtresidencial">Residencial:</label>
            <input type="text" class="form-control" maxlength="200" value="@Model.RESIDENCIAL" id="txtresidencial">
        </div>
    </div>
    <div class="col-sm-4 col-sm-6">
        <div class="form-group">
            <label for="txtabreviatura">Abreviatura:</label>
            <input type="text" class="form-control" maxlength="5" value="@Model.ABREVIATURA" id="txtabreviatura">
        </div>
    </div>
    @if (ViewBag.Editar == 1)
    {
        <div class="col-sm-2 col-sm-6">
            <label class="form-check-label">
                <input id="chkActivo" type="checkbox" class="form-check-input">Estatus
            </label>
        </div>
    }
</div>
<div class="row">
    <div class="col-sm-6 col-md-6">
        <a href="@Url.Action("Index")" class="btn btn-danger">Cancelar</a>
    </div>
    @if (ViewBag.Editar == 1)
    {
        <div class="col-sm-6 col-md-6 right">
            <button id="btnActualizar" type="button" class="btn btn-primary">Actualizar</button>
        </div>
    }
    else
    {
        <div class="col-sm-6 col-md-6 right">
            <button id="btnGuardar" type="button" class="btn btn-primary">Guardar</button>
        </div>
    }
</div>

@section scripts{
    <script>
        function FncLimpiar() {
            $('#txtresidencial').val("");
            $('#txtabreviatura').val("");
        }
        var editar = @ViewBag.Editar;
        $(function () {
            if (editar == 1) {
                if ("@Model.ACTIVO" == "True")
                    document.getElementById("chkActivo").checked = true;
                else
                    document.getElementById("chkActivo").checked = false;
            }
        });
        $('#btnActualizar').on('click', function () {
            var residencialModel = FncObtenerModelo();
            ExecuteAjaxModelMensaje(residencialModel,"@Url.Action("Edit")", "POST", false);
        });
        $('#btnGuardar').on('click', function () {
            var residencialModel = FncObtenerModelo();
            ExecuteAjaxModelMensaje(residencialModel, "@Url.Action("Create")", "POST", false);
            FncLimpiar();
        });
        function FncObtenerModelo() {
            var residencialModel = new Object();
            residencialModel.ABREVIATURA = $('#txtabreviatura').val();
            if (editar == 1)
            {
                residencialModel.ID_RESIDENCIAL = $('#hiddenIdRec').val();
                residencialModel.ACTIVO = document.getElementById("chkActivo").checked;
            }
            else
            {
                residencialModel.ID_RESIDENCIAL = 0;
                residencialModel.ACTIVO = 1;
            }
            residencialModel.RESIDENCIAL = $('#txtresidencial').val();
            return residencialModel;
            }
    </script>
}
